<div class="ui doubling five column grid">
  <div class="column">
    <div class="ui card">
      <div class="image">
        <img src="/assets/img/user.png">
      </div>
      <div class="content">
        <a class="header">Position</a>
        <div class="meta">
          <span class="date">Name</span>
        </div>
        <div class="description">
          Description
        </div>
      </div>
      <div class="extra content">
        <a>
          <i class="user icon"></i>
          Web
        </a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui card">
      <div class="image">
        <img src="/assets/img/user.png">
      </div>
      <div class="content">
        <a class="header">Position</a>
        <div class="meta">
          <span class="date">Name</span>
        </div>
        <div class="description">
          Description
        </div>
      </div>
      <div class="extra content">
        <a>
          <i class="user icon"></i>
          Web
        </a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui card">
      <div class="image">
        <img src="/assets/img/user.png">
      </div>
      <div class="content">
        <a class="header">Position</a>
        <div class="meta">
          <span class="date">Name</span>
        </div>
        <div class="description">
          Description
        </div>
      </div>
      <div class="extra content">
        <a>
          <i class="user icon"></i>
          Web
        </a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui card">
      <div class="image">
        <img src="/assets/img/user.png">
      </div>
      <div class="content">
        <a class="header">Position</a>
        <div class="meta">
          <span class="date">Name</span>
        </div>
        <div class="description">
          Description
        </div>
      </div>
      <div class="extra content">
        <a>
          <i class="user icon"></i>
          Web
        </a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui card">
      <div class="image">
        <img src="/assets/img/user.png">
      </div>
      <div class="content">
        <a class="header">Position</a>
        <div class="meta">
          <span class="date">Name</span>
        </div>
        <div class="description">
          Description
        </div>
      </div>
      <div class="extra content">
        <a>
          <i class="user icon"></i>
          Web
        </a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui card">
      <div class="image">
        <img src="/assets/img/user.png">
      </div>
      <div class="content">
        <a class="header">Position</a>
        <div class="meta">
          <span class="date">Name</span>
        </div>
        <div class="description">
          Description
        </div>
      </div>
      <div class="extra content">
        <a>
          <i class="user icon"></i>
          Web
        </a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui card">
      <div class="image">
        <img src="/assets/img/user.png">
      </div>
      <div class="content">
        <a class="header">Position</a>
        <div class="meta">
          <span class="date">Name</span>
        </div>
        <div class="description">
          Description
        </div>
      </div>
      <div class="extra content">
        <a>
          <i class="user icon"></i>
          Web
        </a>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="ui card">
      <div class="image">
        <img src="/assets/img/user.png">
      </div>
      <div class="content">
        <a class="header">Position</a>
        <div class="meta">
          <span class="date">Name</span>
        </div>
        <div class="description">
          Description
        </div>
      </div>
      <div class="extra content">
        <a>
          <i class="user icon"></i>
          Web
        </a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui card">
      <div class="image">
        <img src="/assets/img/user.png">
      </div>
      <div class="content">
        <a class="header">Position</a>
        <div class="meta">
          <span class="date">Name</span>
        </div>
        <div class="description">
          Description
        </div>
      </div>
      <div class="extra content">
        <a>
          <i class="user icon"></i>
          Web
        </a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui card">
      <div class="image">
        <img src="/assets/img/user.png">
      </div>
      <div class="content">
        <a class="header">Position</a>
        <div class="meta">
          <span class="date">Name</span>
        </div>
        <div class="description">
          Description
        </div>
      </div>
      <div class="extra content">
        <a>
          <i class="user icon"></i>
          Web
        </a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui card">
      <div class="image">
        <img src="/assets/img/user.png">
      </div>
      <div class="content">
        <a class="header">Position</a>
        <div class="meta">
          <span class="date">Name</span>
        </div>
        <div class="description">
          Description
        </div>
      </div>
      <div class="extra content">
        <a>
          <i class="user icon"></i>
          Web
        </a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui card">
      <div class="image">
        <img src="/assets/img/user.png">
      </div>
      <div class="content">
        <a class="header">Position</a>
        <div class="meta">
          <span class="date">Name</span>
        </div>
        <div class="description">
          Description
        </div>
      </div>
      <div class="extra content">
        <a>
          <i class="user icon"></i>
          Web
        </a>
      </div>
    </div>
  </div>
</div>