<div class="ui doubling five column grid">
  <div class="column" *ngFor="let item of professors | async">
    <div class="ui card">
      <div class="image">
        <img src="/assets/img/user.png">
      </div>
      <div class="content">
        <a class="header">
          <b>{{ item.name }}</b>
        </a>
        <div class="meta">
          <b>วิชา: {{ item.subjects }}</b>
        </div>
        <div class="description">
          ตำแหน่ง: <b>{{ item.position }}</b><br>
          {{ item.description }}
        </div>
      </div>
      <div class="extra content">
        <a [routerLink]="['/members/professor/psf0000/'+item.porfessorId]">
          <i class="user icon"></i>
          ดูข้อมูล
        </a>
      </div>
    </div>
  </div>
</div>