<div class="ui teal inverted fixed large menu">
  <!-- teal inverted  -->
  <a class="item" routerLink="/">
    <img src="assets/img/logo.png">
  </a>
  <div class="ui dropdown item">
    <i class="users icon"></i>บุคลากร <i class="dropdown icon"></i>
    <div class="menu">
      <a class="item" routerLink="/members/professor/psf0000"><i class="user circle outline icon"></i>คณะอาจารย์/ครู</a>      
      <div class="ui dropdown item ">
        <i class="dropdown icon "></i><i class="user circle outline icon"></i>นิสิต
        <div class="menu ">
            <a class="item"><i class="circle outline icon"></i>ชั้นปีที่ 1</a>
            <a class="item"><i class="circle outline icon"></i>ชั้นปีที่ 2</a>
            <a class="item"><i class="circle outline icon"></i>ชั้นปีที่ 3</a>
            <a class="item"><i class="circle outline icon"></i>ชั้นปีที่ 4</a>

        </div>
    </div>
    </div>
  </div>
  <div class="ui dropdown item">
    <i class="book icon"></i>การเรียนการสอน <i class="dropdown icon"></i>
    <div class="menu">
      <a class="item" routerLink="/members/student/st1000"><i class="address book outline icon"></i>ชั้นปีที่ 1</a>
      <a class="item"><i class="address book outline icon"></i>ชั้นปีที่ 2</a>
      <a class="item"><i class="address book outline icon"></i>ชั้นปีที่ 3</a>
      <a class="item"><i class="address book outline icon"></i>ชั้นปีที่ 4</a>
    </div>
  </div>
  <div class="right menu">
    <div class="item">
      <a class="ui inverted button"routerLink="/login"><i class="sign in alternate icon"></i>เข้าสู่ระบบ</a>
    </div>
  </div>
</div>