<div class="ui sixteen wide grid pushable">
  <div class="ui left sidebar teal inverted vertical menu">
    <a class="item">ชั้นปีที่ 1</a>
    <a class="item">ชั้นปีที่ 2</a>
    <a class="item">ชั้นปีที่ 3</a>
    <a class="item">ชั้นปีที่ 4</a>
  </div>
  <div class="ui sixteen wide pusher column grid pushed">
    <div class="sixteen wide column">
      <button type="button" class="ui teal icon button" (click)="sideBar()"><i class="align justify icon"></i></button>
    </div>
    <div class="row items">
      <div class="ui doubling five column grid">
        <div class="column" *ngFor="let item of students">
          <div class="ui card">
            <div class="image">
              <div class="ui placeholder" *ngIf="loading">
                <div class="square image"></div>
              </div>
              <img src="/assets/img/user.png" *ngIf="!loading">
            </div>
            <div class="content">
              <!-- loading -->
              <div class="ui placeholder" *ngIf="loading">
                <a class="header">
                  <div class="line"></div>
                </a>
                <div class="meta">
                  <div class="line"></div>
                </div>
                <div class="description">
                  <div class="line"></div>
                  <div class="line"></div>
                </div>
              </div>
              <!-- loading -->

              <!-- loaded -->
              <a [routerLink]="['/members/student/details/'+item.id]" class="header" *ngIf="!loading">
                <b>{{ item.name }}</b>
              </a>
              <div class="meta" *ngIf="!loading">
                <b>รหัส: {{ item.studentId }}</b>
              </div>
              <div class="description" *ngIf="!loading">
                ตำแหน่ง: <b>{{ item.position }}</b><br>
                {{ item.description }}
              </div>
              <!-- loaded -->
            </div>
            <div class="extra content">
              <!-- loading -->
              <div class="ui placeholder" *ngIf="loading">
                <div class="short line"></div>
              </div>
              <!-- loading -->

              <!-- loaded -->
              <a [routerLink]="['/members/student/details/'+item.id]" *ngIf="!loading">
                <i class="user icon"></i>
                ดูข้อมูล
              </a>
              <!-- loaded -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>