<div class="ui doubling grid">
  <div class="column">
    <button type="button" class="ui teal button" (click)="sideBar()"><i class="align justify icon"></i></button>
  </div>
</div>

<div class="ui sidebar teal inverted vertical menu">
  <a class="item">ชั้นปีที่ 1</a>
  <a class="item">ชั้นปีที่ 2</a>
  <a class="item">ชั้นปีที่ 3</a>
  <a class="item">ชั้นปีที่ 4</a>
</div>
<div class="pusher">
  <div class="ui doubling five column grid">
    <div class="column">
      <div class="ui card">
        <div class="image">
          <img src="/assets/img/user.png">
        </div>
        <div class="content">
          <a class="header">Position</a>
          <div class="meta">
            <span class="date">Name</span>
          </div>
          <div class="description">
            Description
          </div>
        </div>
        <div class="extra content">
          <a>
            <i class="user icon"></i>
            Web
          </a>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui card">
        <div class="image">
          <img src="/assets/img/user.png">
        </div>
        <div class="content">
          <a class="header">Position</a>
          <div class="meta">
            <span class="date">Name</span>
          </div>
          <div class="description">
            Description
          </div>
        </div>
        <div class="extra content">
          <a>
            <i class="user icon"></i>
            Web
          </a>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui card">
        <div class="image">
          <img src="/assets/img/user.png">
        </div>
        <div class="content">
          <a class="header">Position</a>
          <div class="meta">
            <span class="date">Name</span>
          </div>
          <div class="description">
            Description
          </div>
        </div>
        <div class="extra content">
          <a>
            <i class="user icon"></i>
            Web
          </a>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui card">
        <div class="image">
          <img src="/assets/img/user.png">
        </div>
        <div class="content">
          <a class="header">Position</a>
          <div class="meta">
            <span class="date">Name</span>
          </div>
          <div class="description">
            Description
          </div>
        </div>
        <div class="extra content">
          <a>
            <i class="user icon"></i>
            Web
          </a>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui card">
        <div class="image">
          <img src="/assets/img/user.png">
        </div>
        <div class="content">
          <a class="header">Position</a>
          <div class="meta">
            <span class="date">Name</span>
          </div>
          <div class="description">
            Description
          </div>
        </div>
        <div class="extra content">
          <a>
            <i class="user icon"></i>
            Web
          </a>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui card">
        <div class="image">
          <img src="/assets/img/user.png">
        </div>
        <div class="content">
          <a class="header">Position</a>
          <div class="meta">
            <span class="date">Name</span>
          </div>
          <div class="description">
            Description
          </div>
        </div>
        <div class="extra content">
          <a>
            <i class="user icon"></i>
            Web
          </a>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui card">
        <div class="image">
          <img src="/assets/img/user.png">
        </div>
        <div class="content">
          <a class="header">Position</a>
          <div class="meta">
            <span class="date">Name</span>
          </div>
          <div class="description">
            Description
          </div>
        </div>
        <div class="extra content">
          <a>
            <i class="user icon"></i>
            Web
          </a>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="ui card">
        <div class="image">
          <img src="/assets/img/user.png">
        </div>
        <div class="content">
          <a class="header">Position</a>
          <div class="meta">
            <span class="date">Name</span>
          </div>
          <div class="description">
            Description
          </div>
        </div>
        <div class="extra content">
          <a>
            <i class="user icon"></i>
            Web
          </a>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui card">
        <div class="image">
          <img src="/assets/img/user.png">
        </div>
        <div class="content">
          <a class="header">Position</a>
          <div class="meta">
            <span class="date">Name</span>
          </div>
          <div class="description">
            Description
          </div>
        </div>
        <div class="extra content">
          <a>
            <i class="user icon"></i>
            Web
          </a>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui card">
        <div class="image">
          <img src="/assets/img/user.png">
        </div>
        <div class="content">
          <a class="header">Position</a>
          <div class="meta">
            <span class="date">Name</span>
          </div>
          <div class="description">
            Description
          </div>
        </div>
        <div class="extra content">
          <a>
            <i class="user icon"></i>
            Web
          </a>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui card">
        <div class="image">
          <img src="/assets/img/user.png">
        </div>
        <div class="content">
          <a class="header">Position</a>
          <div class="meta">
            <span class="date">Name</span>
          </div>
          <div class="description">
            Description
          </div>
        </div>
        <div class="extra content">
          <a>
            <i class="user icon"></i>
            Web
          </a>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui card">
        <div class="image">
          <img src="/assets/img/user.png">
        </div>
        <div class="content">
          <a class="header">Position</a>
          <div class="meta">
            <span class="date">Name</span>
          </div>
          <div class="description">
            Description
          </div>
        </div>
        <div class="extra content">
          <a>
            <i class="user icon"></i>
            Web
          </a>
        </div>
      </div>
    </div>
  </div>
</div>